/* Fonctionnement */
.steps {
  background-color: white;
  padding: 50px 350px;
}

.steps h1 {
  margin-left: 40px;
  padding-bottom: 20px;
  font-size: 2rem;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px;
  border-radius: 20px;
}

.number {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
  margin-right: -30px;
  z-index: 1;
}

.button {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-secondary-color);
  padding: 30px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  /* box shadow gray */
  box-shadow: 0px 10px 13px -7px gray, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button i {
  font-size: 1.5rem;
  color: gray;

}

.button i:hover {
  color: var(--primary-color);
}


/* Taille de l'ecran mobile */
@media screen and (max-width: 768px) {
  .steps {
    background-color: white;
    padding: 50px 0px;
  }

  .steps h1 {
    margin-left: 30px;
  }

  .items {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .item {
    width: 100%;
  }

  .button {
    padding: 20px 20px;
  }

  .button span {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 0px;
  }

  .number {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 18px;
    border-radius: 100%;
    margin-right: -30px;
    z-index: 1;
  }

}