@import url('../shared/global.css');
@import url('../shared/btn-explore.css');
@import url('../shared/footer.css');
@import url('./index-header.css');
@import url('./index-fonctionnement.css');
@import url('./index-location.css');
@import url('./index-hero.css');
@import url('./index-restaurants-card.css');
@import url('./loader.css');


.fa-heart {
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.5 ease;
}

.regular {
  color: #000;
}

.solid {
  color: #9356DC;
  display: none;
}

.icon-container:hover .regular {
  display: none;
}

.icon-container:hover .solid {
  display: block;
}