@import url('../shared/global.css');
@import url('../shared/btn-explore.css');
@import url('../shared/footer.css');

/* Reset général */
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/* Variables CSS */
:root {
  --bg-main-color: #F6F6F6;
  --bg-secondary-color: #EAEAEA;
  --primary-color: #9356DC;
  --green-color: #99E2D0;
  --black-color: #353535;
}

/* Styles de base */
body {
  background-color: var(--bg-main-color);
  height: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 420px;
}

.header .left {
  font-size: 1.5rem;
  padding-left: 10px;
  cursor: pointer;
}

.header .left:hover {
  color: var(--primary-color);
}

/* Bannière */
.banner-img {
  padding: 0px 400px;
}

.banner-img img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;

  /* margin-right: 20px; */
  object-fit: cover;
}


/* Main */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  margin: 0 auto;
  margin-top: -50px;
  z-index: 7;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 40%;
  background-color: var(--bg-secondary-color);
  padding: 20px 0px;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 100px; */
}

main .dish {
  padding: 0px 90px;
}

main .title {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

main .divider,
main .divider-green {
  width: 3%;
  margin: auto;
  height: 2px;
}

main .divider-green {
  background-color: var(--green-color);
  margin: 5px 0;
}

main .dish h2 {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 10px;
}

main .card {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
  padding: 8px 15px;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.dish .card .check {
  display: none;
}

.dish .card:hover .check {
  display: block;
  position: absolute;
  right: 0;
  border-radius: 0 20px 20px 0;
  background-color: var(--green-color);
  padding: 13px;
}

.dish .card:hover .price {
  margin-right: 50px;
}

.dish .check i {
  color: white;
}

.dish .content h3 {
  font-size: 0.8rem;
  font-weight: 600;
}

.dish .content p {
  font-size: 0.7rem;
  font-weight: 200;
}



/* Le code ci-dessous correspond à la version responsive uniquement */


/****** Media queries ***********/


/* Ecran de taille inférieure à 768px */
@media (max-width: 768px) {
  .banner-img {
    padding: 0px;
  }

  .header {
    padding: 20px 0px;
  }

  main {
    width: 100%;
    padding: 20px 0px;
  }

  main .dish {
    padding: 0px 20px;
  }
}